body { margin:10px 15px; padding:0; font-family:Arial, Helvetica, sans-serif;}
h2 { margin:0 0 12px 0; font-size:18px; color:#6d1d22;}
dt { margin:0; font-size:13px; color:#272727;font-weight:bold;}
dd { font-size:13px; color:#3c3c3c;}
p { margin:0 0 15px; font-size:13px; color:#3c3c3c;}
