


ELBOX_HAVE_DOT_CONFIG=y
ELBOX_FIRMWARE_VERSION="1.10WW"
ELBOX_FIRMWARE_REVISION="b08"





ELBOX_FIRMWARE_SIGNATURE="N/A"




















































































































ELBOX_BOARD_WRGAC05=y
ELBOX_BOARD_NAME="wrgac05"
ELBOX_BSP_RTLSDK_3_2=y
ELBOX_BSP_RTLSDK_3_2_TARGET="rtl819xD"
ELBOX_BSP_NAME="rtlsdk32-linux-2.6.30"
ELBOX_LINUX_MAJOR=2
ELBOX_LINUX_MINOR=6
ELBOX_LINUX_BUILD=30
ELBOX_INSTALL_LIBGCC_A_SO=y
ELBOX_INSTALL_LIBRT_SO=y
ELBOX_INSTALL_LIBPTHREAD_SO=y























ELBOX_TEMPLATE_ARIES=y


ELBOX_PROJECT_SEATTLE=y
ELBOX_TEMPLATE_NAME="aries"
ELBOX_BRAND_NAME="dlob.hans"
ELBOX_MODEL_NAME="dir850l"








ELBOX_ARIES_SESSION_BASE="/runtime/session"




ELBOX_ARIES_FEATURE_ROUTER_GATEWAY=y

ELBOX_ARIES_USE_DANIELS_CONE_NAT=y
ELBOX_ARIES_USE_UDEV=y
ELBOX_ARIES_USE_UDEV_USB3G_SUPPORT=y
ELBOX_ARIES_USE_UDEV_USB_STORAGE_SUPPORT=y
ELBOX_ARIES_USE_BACKUP_CONNECTION=y



ELBOX_TEMPLATE_ARIES_NEW_WIFI_UID=y

ELBOX_TEMPLATE_ARIES_STORAGE_SUPPORT=y
ELBOX_TEMPLATE_ARIES_ENABLE_USER_MANAGEMENT=y
ELBOX_TEMPLATE_ARIES_MYDLINK_SUPPORT=y
ELBOX_PROGS_PRIV_MYDLINK_DIR="rsdk-1.5.5-5281-EB-2.6.30-0.9.30.3-110714"
ELBOX_PROGS_PRIV_MYDLINK_MTDBLOCK="/dev/mtdblock/9"
ELBOX_PROGS_PRIV_MYDLINK_OPENSSL=y





ELBOX_BRAND_ARIES_DLOB_HANS=y




























ELBOX_MODEL_ARIES_HANS_DIR850L=y





ELBOX_USE_IPV6=y





ELBOX_NETWORK=y


ELBOX_NETWORK_PHYINF_PROFILES="2"
ELBOX_NETWORK_WAN_PROFILES="1"
ELBOX_NETWORK_LAN_PROFILES="4"

ELBOX_NETWORK_IPV6=y












ELBOX_NETWORK_SESSION_BASE="/runtime/session"












































ELBOX_DEFAULT_LANGUAGE_NONE=y





































ELBOX_BUSYBOX=y


ELBOX_PROGS_GPL_BUSYBOX_1_14_1=y




















ELBOX_USE_DNS=y

ELBOX_PROGS_GPL_DNSMASQ=y




ELBOX_PROGS_GPL_DNSMASQ_HAVE_BROKEN_RTC=y
ELBOX_PROGS_GPL_DNSMASQ_NO_TFTP=y
ELBOX_PROGS_GPL_DNSMASQ_NOUSER_ALPHA=y
ELBOX_PROGS_GPL_DNSMASQ_NOPRCTL_ALPHA=y
ELBOX_PROGS_GPL_DNSMASQ_HELPER_SUPPORT_ALPHA=y
ELBOX_PROGS_GPL_DNSMASQ_ADVANCE_DNS_SERVICE_ALPHA=y
ELBOX_PROGS_GPL_E2FSPROGS=y
ELBOX_PROGS_GPL_E2FSPROGS_1_41_12=y

ELBOX_HTTPD=y


ELBOX_PROGS_GPL_MATHOPD_16=y











ELBOX_PROGS_GPL_IPROUTE2_2_6_33=y
ELBOX_IPTABLES=y




ELBOX_PROGS_GPL_IPTABLES_1_4_7=y

ELBOX_IPTABLES_L7_EXT=y
ELBOX_IPTABLES_RTL_DST_MAC_SUPPORT=y
ELBOX_PROGS_GPL_ITUNES_SERVER=y
ELBOX_MDNSRESPONDER=y
ELBOX_PROGS_GPL_MDNSRESPONDER_320_5_1=y


ELBOX_MINIDLNA=y

ELBOX_PROGS_GPL_MINIDLNA_1024=y
ELBOX_PROGS_GPL_NSBBOX=y





CONFIG_NSBBOX_BRCTL=y
CONFIG_NSBBOX_BRCTL_BWCTRL=y

CONFIG_NSBBOX_BRCTL_PORTFORWARD=y














CONFIG_NSBBOX_NTPCLIENT=y
CONFIG_NSBBOX_SMTPCLIENT=y
CONFIG_NSBBOX_VCONFIG=y

ELBOX_PPPD=y
ELBOX_PROGS_GPL_PPPD_ALPHA=y




ELBOX_PROGS_GPL_PPPD_ACCEL_PPTP=y
ELBOX_PROGS_GPL_PPPD_ACCEL_PPTP_PLUS=y









ELBOX_PROGS_GPL_RADVD_NOUSER_ALPHA=y
ELBOX_PROGS_GPL_RADVD_NOLIBFL=y

ELBOX_PROGS_GPL_RADVD_1_8=y





ELBOX_SAMBA=y


ELBOX_PROGS_GPL_SAMBA_3_0_24=y

ELBOX_PROGS_GPL_SFDISK=y
ELBOX_PROGS_GPL_SFDISK_2_18=y





ELBOX_PROGS_GPL_TELNETD=y





ELBOX_PROGS_GPL_UDEV=y
ELBOX_UDHCP=y




ELBOX_PROGS_GPL_UDHCP_REQUEST_BROADCAST=y

ELBOX_PROGS_GPL_UDHCPCD=y




ELBOX_PROGS_GPL_WIDE_DHCPV6=y

ELBOX_PROGS_GPL_WIRELESS_TOOLS_REALTEK_29=y



ELBOX_PROGS_GPL_ECMH=y
ELBOX_PROGS_GPL_IPUTILS=y












ELBOX_PROGS_GPL_IPUTILS_PING6=y
ELBOX_PROGS_GPL_NDISC6_0_9_9=y
ELBOX_PROGS_GPL_UPNPC=y






ELBOX_PROGS_GPL_IMAGE_TOOLS=y









ELBOX_PROGS_GPL_LIB_GSASL=y
ELBOX_PROGS_GPL_LIB_GSASL_0_2_6=y
ELBOX_OPENSSL=y




ELBOX_PROGS_GPL_OPENSSL_098G=y


ELBOX_PROGS_GPL_EMAILCLIENT=y


ELBOX_PROGS_GPL_LIBICONV_1_9_1=y
ELBOX_SQLITE=y
ELBOX_PROGS_GPL_SQLITE_374=y







ELBOX_XMLDB=y

ELBOX_PROGS_PRIV_XMLDB3=y
ELBOX_PROGS_PRIV_RGBIN=y



















CONFIG_RGBIN_SEAMA=y
CONFIG_RGBIN_HTTPC=y
CONFIG_RGBIN_GENUUID=y
CONFIG_RGBIN_PFILE=y
CONFIG_RGBIN_SCUT=y
CONFIG_RGBIN_TLOGS=y






CONFIG_RGBIN_LOGIN=y
CONFIG_RGBIN_ARPPING=y
CONFIG_RGBIN_GETHOSTIP=y
CONFIG_RGBIN_GETBOOTVER=y
CONFIG_RGBIN_GETBOOTVER_STRING=y

CONFIG_RGBIN_USOCKC=y
CONFIG_RGBIN_SUSOCKC=y





CONFIG_RGBIN_CHECK_CONNECTION=y
CONFIG_RGBIN_CHECK_CONNECTION_HELPER="/etc/scripts/backupconn.sh"

CONFIG_RGBIN_3GCHAT=y

CONFIG_RGBIN_IPV6IP=y
CONFIG_RGBIN_IPV6PDIP=y


CONFIG_RGBIN_SYSLOGMSG=y







CONFIG_RGBIN_DEVDATA=y
CONFIG_RGBIN_DEVDATA_MTDBLOCK="/dev/mtdblock/4"
CONFIG_RGBIN_DEVDATA_OFFSET=0x0
CONFIG_RGBIN_DEVDATA_SIZE=0x10000




CONFIG_RGBIN_DEVCONF=y
CONFIG_RGBIN_DEVCONF_MTDBLOCK="/dev/mtdblock/3"
CONFIG_RGBIN_DEVCONF_OFFSET=0x0
CONFIG_RGBIN_DEVCONF_SIZE=0x10000






CONFIG_RGBIN_TCPREQUEST=y






ELBOX_TURBONAT=y

ELBOX_PROGS_PRIV_TURBONAT_26=y
ELBOX_PROGS_PRIV_TURBONAT_QOS=y
ELBOX_PROGS_PRIV_TURBONAT_UBCOM=y


ELBOX_PROGS_PRIV_BWC=y


ELBOX_LOG_MESSAGE=y
ELBOX_PROGS_PRIV_LOG_ENGLISH=y




























ELBOX_PROGS_PRIV_MRD=y



ELBOX_PROGS_PRIV_UPDATELEASES=y

ELBOX_PROGS_PRIV_PORTT=y





ELBOX_DDNS=y




ELBOX_PROGS_PRIV_DYNDNS=y
ELBOX_PROGS_PRIV_PEANUT=y


ELBOX_PROGS_PRIV_LLD2D=y



















ELBOX_PROGS_PRIV_NETBIOS=y
ELBOX_PROGS_PRIV_NETBIOS_ARIES=y



ELBOX_PROGS_PRIV_SENDMAIL=y

ELBOX_PROGS_PRIV_SERVD=y
ELBOX_PROGS_PRIV_CGIBIN_ARIES=y








CONFIG_CGIBIN_ARIES_AUTH_USERNAME_CASELESS=y
CONFIG_CGIBIN_ARIES_PHPCGI=y
CONFIG_CGIBIN_ARIES_PHPCGI_MAXFILESIZE=0x80000
CONFIG_CGIBIN_ARIES_SESSIONCGI=y
CONFIG_CGIBIN_ARIES_CAPTCHACGI=y
CONFIG_CGIBIN_ARIES_HEDWIGCGI=y
CONFIG_CGIBIN_ARIES_PIGWIDGEONCGI=y
CONFIG_CGIBIN_ARIES_SERVICECGI=y
CONFIG_CGIBIN_ARIES_CONNTRACKCGI=y
CONFIG_CGIBIN_ARIES_FILELOAD=y
CONFIG_CGIBIN_ARIES_DLCONFIG_FILE="config.bin"
CONFIG_CGIBIN_ARIES_FILELOAD_MAXCODESIZE=0x100000
CONFIG_CGIBIN_ARIES_FWUPDATE_MAXCODESIZE=0xFB0000
CONFIG_CGIBIN_ARIES_FWUPDATE_MTDBLOCK="/dev/mtdblock/1"
CONFIG_CGIBIN_ARIES_FWUPDATER=y
CONFIG_CGIBIN_ARIES_HNAP=y




CONFIG_CGIBIN_ARIES_SSDPCGI=y
CONFIG_CGIBIN_ARIES_SOAPCGI=y
CONFIG_CGIBIN_ARIES_GENACGI=y
CONFIG_CGIBIN_ARIES_WFADEV=y
CONFIG_CGIBIN_ARIES_WFANOTIFY=y
CONFIG_CGIBIN_ARIES_SCANDIR=y
ELBOX_PROGS_PRIV_UPNP_AV=y
ELBOX_PROGS_PRIV_VERIFICATION_CODE=y

ELBOX_PROGS_PRIV_LOGD=y

CONFIG_LOGD_PHP_HELPER="/etc/services/LOG/logd_helper.php"
CONFIG_LOGD_KLOG_INF_TABLE_SIZE=8


ELBOX_PROGS_PRIV_DDNSD=y
ELBOX_PROGS_PRIV_DDNSD_HELPER="/etc/scripts/ddnsd_helper.sh"












ELBOX_PROGS_PRIV_LLMNRESP=y



ELBOX_UPDATEWIFISTATS=y



ELBOX_PROGS_PRIV_UPDATEWIFISTATS_REALTEK=y



ELBOX_PROGS_PRIV_HOSTAPD_WPS=y









ELBOX_PROGS_PRIV_REALTEK_RT8198=y









ELBOX_PROGS_PRIV_WPS_2_0=y




ELBOX_PROGS_PRIV_SUPPLICANT_0_5_9=y




ELBOX_PROGS_PRIV_USBMOUNT=y





ELBOX_PROGS_PRIV_USBMOUNT_MNT_ROOT="/var/tmp/storage"
ELBOX_PROGS_PRIV_USBMOUNT_HELPER="/etc/scripts/usbmount_helper.sh"
ELBOX_PROGS_PRIV_SHAREPORT_PLUS=y

CONFIG_SHAREPORT_WITH_SAMBA=y
ELBOX_PROGS_PRIV_ALPHA_STUNNEL=y
ELBOX_PROGS_PRIV_WEB_FILE_ACCESS=y

ELBOX_PROGS_PRIV_MYDLINKEVENTD=y





CONFIG_MYDLINKEVENTD_USOCK="/var/mydlinkeventd_usock"
ELBOX_PROGS_PRIV_ARPMONITOR=y









ELBOX_COMLIB_MEM_HELPER_DISABLE=y
