BODY {
SCROLLBAR-FACE-COLOR: #ffffff;
 SCROLLBAR-HIGHLIGHT-COLOR: #B0BACE;
 SCROLLBAR-SHADOW-COLOR: #ffffff;
 SCROLLBAR-3DLIGHT-COLOR: #ffffff;
 SCROLLBAR-ARROW-COLOR: #B0BACE;
 SCROLLBAR-TRACK-COLOR: #F2F9FA;
 SCROLLBAR-DARKSHADOW-COLOR: #B0BACE;
 SCROLLBAR-BASE-COLOR: #ffffff
}

HR {
	FILTER: Alpha(Opacity=100,FinishOpacity=10,Style=2); WIDTH: 95%; COLOR: #415065; HEIGHT: 2px
}

A:link {
	COLOR: #000000; TEXT-DECORATION: none
}
A:active {
	COLOR: #000000; TEXT-DECORATION: none
}
A:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
A:hover {
	COLOR: #cc7700; TEXT-DECORATION: underline
}