ACTION=="add", KERNEL=="sd*", SUBSYSTEM=="block", RUN+="/etc/scripts/usbmount.sh add %k"
ACTION=="remove", KERNEL=="sd*", RUN+="/etc/scripts/usbmount.sh remove %k"
